body {
    width: 100vw;
    height: 100vh;
    background-color: cornflowerblue;
    align-content: center;
    margin: 0;
}


/* MENU */
#menu {
    position: absolute;
    top: 50px;
    right: 50px;
}

ul {
    list-style-type: none;
}
