body {
    width: 100vw;
    height: 100vh;
    background-color: cornflowerblue;
    align-content: center;
}

#bubble-header {
    font-size: 40;
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#bubble-text-container {
    display: flex;
    justify-content: center;
}